
//Colores
$menta: #e0f2f1;
$verdeoscuro: #146356;
$caqui: #f3c892;
$naranjaopaco: #f59a2c;
$mentaoscuro: #b2c0bf;

//Fuentes
$fuentePrincipal: 'Raleway', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;

//No se xd

$que: #D3EBEA;
$so: #BAE0DE;