@use 'base/variables' as v;

.contenedor-pago{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 28rem 0;
}
.titulo-finalizarpago{
    text-align: center;
}
.infoFP{
    font-size: 2rem;
    font-family: v.$fuenteSecundaria;
}
.td-Cantidad {
    text-align: center;
}

.footerFinalizarPago,
.footerContenido td{
    border-top: solid .12rem;
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.contenidoFPcentro{
    text-align: center;
}
.seccion-pago{
    width: 30%;
    font-family: v.$fuenteSecundaria;
}


.img-wallet{
    height: 55rem;
    width: 55rem;
    
}

.contenido-pagado{
    text-align: center;
}

.text-contenido-pagado{
    font-family: 'Satisfy', cursive;
}

@media (max-width: 768px){
    .contenedor-pago{
        display: block;
    }
};

@media (max-width: 768px){
    .seccion-pago{
        width: 100%;
        
    }
};