.imgconfirmacion{
    text-align: center;
    margin: 15rem;
}

.imgconfirmacioning{
    text-align: center;
    margin: 20rem 15rem;
    padding-top: 18rem;
    
}

.imgconfirmacion img{
    width: 25rem;
}

.ingresoexbody{
    background-image: url(../../src/img/Logotipo_1_Restaurant_Siglo_XXI.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
}